body{
	  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQo2Ia87N5BYXBHth64rROk1aUCH_ELTwf8XQ&usqp=CAU');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}